<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>THE CONSUELO ~</title>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="/css/main.css" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/images/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/images/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/images/favicon-16x16.png"
    />
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
    <script
      defer
      src="https://kit.fontawesome.com/26d4a64054.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body class="bg-secondary h-screen">
    <!-- header nav -->
    <header class="flex justify-between items-center py-2 px-6 bg-primary-60">
      <div class="flex space-x-1">
        <a href="/">
          <img alt="consuelo-logo" src="/images/logo.png" />
        </a>
        <h1 class="px-2 text-white font-bold text-lg">Consuelo</h1>
      </div>
      <!-- <div class="flex space-x-2">
            <p><i class="fa-regular fa-bell text-secondary"></i></p>
            <p><i class="fas fa-user-circle text-secondary"></i></p>
        </div> -->
    </header>
    <section class="font-sans flex justify-center mt-24 md:mt-0 h-full">
      <div
        class="md:flex md:flex-col md:max-w-xs md:items-center w-4/5 my-0 mx-auto"
      >
        <div class="md:pt-44">
          <h2 class="text-primary-60 font-semibold text-2xl">
            Forgot Password
          </h2>
          <p class="text-body mt-3">
            Enter the email address you registered with and we will send you
            instructions to reset your password.
          </p>
        </div>
        <div class="flex flex-col justify-center items-center w-full">
          <input
            type="email"
            name=""
            id=""
            placeholder="Email"
            class="py-3 px-4 mt-7 w-full placeholder-grey-40 border border-solid border-grey-50 rounded focus:border-primary-50 focus:border-2 focus:outline-none placeholder-opacity-50"
          />
          <button
            type="submit"
            class="py-3 px-4 w-full my-3 bg-primary-50 font-semibold text-base text-white rounded"
          >
            Request Password Change
          </button>
        </div>
      </div>
      <div class="hidden md:block">
        <img
          src="/images/reg-banner.png"
          alt="A vent with inscription saying difficult roads leads 
            to beautiful destinations, with a flower pot just by the side"
          class="h-full w-full"
        />
      </div>
    </section>

    <!-- Password Confirmation -->
    <section class="font-sans flex justify-center mt-24 md:mt-0 h-full">
      <div
        class="md:flex md:flex-col md:max-w-xs md:items-center w-4/5 my-0 mx-auto"
      >
        <div class="md:pt-44">
          <h2 class="text-primary-60 font-semibold text-2xl">
            Forgot Password
          </h2>
          <p class="text-body mt-3">
            Input your new desired password in the input fields below to create
            a new password.
          </p>
        </div>
        <div class="flex flex-col justify-center items-center w-full">
          <input
            type="password"
            name=""
            id=""
            placeholder="Password"
            class="py-3 px-4 mt-7 w-full placeholder-grey-40 border border-solid border-grey-50 rounded focus:border-primary-50 focus:border-2 focus:outline-none placeholder-opacity-50"
          />
          <input
            type="password"
            name=""
            id=""
            placeholder="Confirm Password"
            class="py-3 px-4 mt-3 w-full placeholder-grey-40 border border-solid border-grey-50 rounded focus:border-primary-50 focus:border-2 focus:outline-none placeholder-opacity-50"
          />
          <button
            type="submit"
            class="py-3 px-4 w-full my-3 bg-primary-50 font-semibold text-base text-white rounded"
          >
            Reset Password
          </button>
        </div>
      </div>
      <div class="hidden md:block">
        <img
          src="/images/reg-banner.png"
          alt="A vent with inscription saying difficult roads leads 
            to beautiful destinations, with a flower pot just by the side"
          class="h-full w-full"
        />
      </div>
    </section>

    <!-- Sucess Message -->
    <section class="font-sans flex justify-center mt-24 md:mt-0 h-full">
      <div
        class="md:flex md:flex-col md:max-w-xs md:items-center w-4/5 my-0 mx-auto"
      >
        <div class="md:pt-44">
          <h2 class="text-primary-60 font-semibold text-2xl text-center">
            Success
          </h2>
          <p class="mt-5 text-center">
            <i
              class="fa fa-check-circle-o text-7xl text-primary-60"
              aria-hidden="true"
            ></i>
          </p>
          <p class="text-body mt-5">
            Your password has been reset successfully
          </p>
        </div>
        <div class="flex flex-col my-6 justify-center items-center w-full">
          <button
            class="py-3 px-4 w-full bg-primary-50 font-medium text-base text-white rounded">
            Sign in
          </button>
        </div>
      </div>
      <div class="hidden md:block">
        <img
          src="/images/reg-banner.png"
          alt="A vent with inscription saying difficult roads leads 
            to beautiful destinations, with a flower pot just by the side"
          class="h-full w-full"
        />
      </div>
    </section>
  </body>
</html>
